body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* heading */
.header--main {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

.header--secondary {
    color: white;
    font-weight: normal;
    font-size: 42px;
}

.header--subheader {
    color: gray;
    font-size: 21px;
    font-weight: normal;
}

/* Links */
.link--cta {
    color: aquamarine;
    font-size: 16px;

}

/* image */
img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}